.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.Ready {
  margin-bottom: 10px;
}

.Logo {
  font-size: 30px;
  margin-bottom: 10px;
}

.Container {
  align-self: center;
  display: flex;
  margin-bottom: 20px;
}

.Config {
  align-self: center;
  width: 60vw;
}

.ConfigField {
  justify-content: center;
  display: flex;
  padding: 10px;
}

.Source {
  font-weight: bold;
  color: blue;
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
}

.RunButton {
  flex: auto;
  width: auto;
  display: inline-block;
  padding: 20px 40px;
  margin-bottom: 20px;
  background: green;
  color: white;
}

.RunningButton {
  flex: auto;
  width: auto;
  display: inline-block;
  padding: 20px 40px;
  margin-bottom: 20px;
  background: gray;
  color: white;
}

.SampleContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
  align-items: center;
  margin-bottom: 10px;
}

.SampleButton {
  margin: 2px 5px;
  padding: 3px;
  background: gray;
  color: white;
}

.Out {
  text-align: left;
  margin: 0 auto;
  width: 70vw;
  white-space: pre-wrap;
  height: 30vh;
  overflow: scroll;
  background: lightgray;
  margin-bottom: 20px;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

.Input {
  width: 30vw;
  height: 30vh;
  background: lightgray;
  margin-right: 20px;
}

.Code {
  width: 30vw;
  height: 30vh;
  background: lightgray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
