[submodule "external/asmjit"]
	path = external/asmjit
url=https://github.com/asmjit/asmjit.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/capstone"]
	path = external/capstone
	url = https://github.com/aquynh/capstone.git
[submodule "tests/snippets"]
	path = tests/snippets
	url = https://github.com/aheui/snippets.git
[submodule "external/binaryen"]
	path = external/binaryen
	url = https://github.com/WebAssembly/binaryen.git
[submodule "external/asmjit-aarch64"]
	path = external/asmjit-aarch64
	url = https://github.com/asmjit/asmjit.git
